.friend-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 250px;
  margin: 75px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 4px 10px black;
  padding: 30px;
}