.friend-list--item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 25px 0;
  border-bottom: 1px solid #ccc;
  width: 250px;
}

.friend-list--item:last-child {
  border: none;
}

.avatar {
  border: 2px solid #ccc;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.name {
  font-size: 25px;
  font-weight: bold;
}



.online {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  margin-right: 10px;
}

.offline {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  margin-right: 10px;

}